/* src/App.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .app-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .flashcard-container {
    margin: 20px auto;
  }
  
  .button {
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #1a5276;
  }

  .button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .textbox {
    padding: 3px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid gray;
    outline: none;
    transition: border-color 0.1s ease-in-out;
  }
  
  .textbox.right {
    border-color: green;
  }
  
  .textbox.wrong {
    border-color: red;
  }